# configuration for the torrent feed loader

module Settings
  TWITTER_CONSUMER_KEY = 'consumer key'
  TWITTER_CONSUMER_SECRET = 'consumer secret'
  TWITTER_OAUTH_TOKEN = 'oauth token'
  TWITTER_OAUTH_SECRET = 'oauth secret'

  BITLY_USERNAME = 'username'
  BITLY_API_KEY = 'R_api_key'

  TRANSMISSION_SERVER = 'http://127.0.0.1:9091/transmission/rpc'
  TRANSMISSION_COMMAND = '/path/to/transmission-daemon ' +
                         '--logfile /put/here/transmission.log ' +
                         '--log-info --rpc-bind-address 127.0.0.1'

  BASE_URL = 'http://where/is/the/download/directory'
  DOWNLOAD_DIR = '/download/directory/on/disk'
  ITUNES_RSS_DIR = '/download/directory/on/disk/for/itunes-podcast-rss-xml'

  FEEDS = {
    'twitter_username' => [{
        :feed_pattern => /^(regex to filter a show tweet)/,
        :title => 'Cleartext name of the show',
        :subtitle => 'Some witty comment or subtitle for the show',
        :author => 'The guy who made the show',
        :image => 'http://where/is/the/600x600/logo.jpg',
        :category => 'Comedy',
        :filename_pattern => /The.Filename.Pattern.On.Disk.(.*).HDTV.*mp4/
      }, {
        :feed_pattern => /^(another show name filter)/,
        :title => 'Cleartext name of the show',
        :subtitle => 'Some witty comment or subtitle for the show',
        :author => 'The guy who made the show',
        :image => 'http://where/is/the/600x600/other_logo.jpg',
        :category => 'Comedy',
        :filename_pattern => /The.Filename.Pattern.On.Disk.(.*).HDTV.*mp4/
      }]
  }
end
