# configuration for the torrent feed loader

module Settings
  TWITTER_CONSUMER_KEY = 'consumer key'
  TWITTER_CONSUMER_SECRET = 'consumer secret'
  TWITTER_OAUTH_TOKEN = 'oauth token'
  TWITTER_OAUTH_SECRET = 'oauth secret'

  BITLY_USERNAME = 'username'
  BITLY_API_KEY = 'R_api_key'

  TRANSMISSION_SERVER = 'http://127.0.0.1:9091/transmission/rpc'
  TRANSMISSION_COMMAND = '/path/to/transmission-daemon ' +
                         '--logfile /put/here/transmission.log ' +
                         '--log-info --rpc-bind-address 127.0.0.1'

  FEEDS = {'twitter_username' => [/^(regex to filter a show tweet)/,
                                  /^(another show name filter)/]}
  BASE_URL = 'http://where/is/the/download/directory'
  DOWNLOAD_DIR = '/download/directory/on/disk'
end
